/************* style home **************/
.bar-top {
    background:#008fd0;
    height:47px;
}
.bar-top .list-top {float:right;margin-bottom: 0;}
.bar-top .list-top li a{color:#fff;text-transform: uppercase;font-weight: bold;line-height: 47px;}
.bar-top .list-top li a i {font-size:16px;margin-right: 5px;}
.header {
    padding:10px 0;
}
.header .top-bar {
    background:#fff;
}

.header .top-bar .top-bar-section ul li {
    background: #fff;
}
.header .top-bar .top-bar-section li:not(.has-form) a:not(.button){
    background: #fff;
    padding:10px 15px;
}

.header .top-bar .top-bar-section ul li a {
    color:#008fd0;
    text-transform: uppercase;
    font-size:14px;
    font-weight: bold;
}

.header .top-bar-section li.active:not(.has-form) a:not(.button) {
    color:#f26522;
}
.header .top-bar .name h1 {
    background: url('../img/logo.jpg') no-repeat top left;
    width: 262px;
    height: 70px;
    display: inline-block;
    text-indent: -9999px;
}

.block-quote {
    background: #e6e6e6;
    padding:40px 0px;
}

.block-quote h3 {
    font-size:22px;
    font-family: 'PT Serif', serif;
    color: #4c4b4b;
}

.block-quote .quote .msg {
    background: url('../img/quote-left.png') no-repeat, url('../img/quote-right.png') no-repeat;
    background-position: left 20%,right 90%;
    padding: 30px 30px 15px 45px;
    font-size:14px;
    margin-bottom: 10px;
}

.block-quote .quote .author {font-size: 18px;text-transform: uppercase;margin-bottom: 0;}
.block-quote .quote span {font-size: 11px;color: #999;}
.block-quote ul {
    margin:0;
    padding:0;
}
.block-quote ul li {
    margin-left:0;
    margin-right:20px;
}
.feature-campaign {
    padding:60px 0;
}

.feature-campaign h3 {
    font-size: 22px;
    color: #4c4b4b;
    font-family: 'PT Serif', serif;
    padding-bottom: 45px;
}

.feature-campaign .panel {
    padding:0;
    margin:0;
    background: #fff;
}

.feature-campaign .panel h5,.block-post .panel h5 {
    font-size: 15px;
    padding:10px 0px 0 10px;
    margin-bottom: 0;
    line-height: 22px;
    font-weight: bold;
}

.feature-campaign .panel span,.block-post .panel span {
    font-size:12px;
    color:#999;
    font-style: italic;
    padding-left:10px;
}

.feature-campaign .panel ul {
    background: #e6e6e6;
    padding:5px 0px 5px 0px;
}

.feature-campaign .panel ul li {
    margin-left:10px;
    margin-right: 10px;
    font-size:10px;
    text-align: center;
}

.feature-campaign .panel ul li span {
    font-size: 17px;
    font-weight: bold;
    color: #008fd0;
    font-style: normal;
}

.feature-campaign .panel p,.block-post .panel p {
    font-size:12px;
    color: #000;
    padding:10px 10px 0 10px;
}
.block-campaign {
    background: url('../img/bg-campaign.jpg') no-repeat center top;
    background-size: 100%;
    height: 227px;
}

.block-campaign h3 {
    color:#fff;
    font-size: 32px;
    padding-top:65px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

.block-campaign a {
    color: #fff;
    border:3px solid #fff;
    padding:3px 7px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:20px;
    display: inline-block;
}
.block-campaign a.ex {
    color: #1a8fcf;
    border:none;
    background:#fff;
    padding:6px 7px;
    margin-right:10px;
}

.block-post {
    padding:50px 0px;
}
.block-post h3 {
    color: #4c4b4b;
    font-family: "PT Serif",serif;
    font-size: 22px;
    padding-bottom: 45px;
}

.block-post .panel {
    background:#fff;
    padding:10px;
}
.block-post .panel h5,.block-post .panel p,.block-post .panel span {
    padding:0;
}
.block-post .panel p {
    padding-top:15px;
}
.block-events {
    background: url('../img/bg-event.jpg') no-repeat top right;
    background-size: 100%;
    height: 270px;
    color:#fff;
}

.block-events h3 {
    color:#fff;
    padding-top: 30px;
    font-size: 32px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
}
.block-events a {
    font-size: 16px;
    border: 4px solid #fff;
    padding:10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;

}

.block-events p {
    font-size: 18px;
    margin-bottom: 40px;
}
.small-quote p{
    background: url('../img/quote-left.png') no-repeat, url('../img/quote-right.png') no-repeat;
    background-position: left 20%,right 20%;
    font-size:18px;
    font-family: 'PT Serif', serif;
    color:#008fd0;
    padding-left:45px;
    padding-right:45px;
    margin:30px 0px 30px 0;
}




.sub-footer {
    background: #006699;
    color:#fff;
    padding-bottom: 20px;
}
.sub-footer::before {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    content: "";
    display: block;
    height: 0;
    left: calc(50% - 20px);
    position: relative;
    top: 0;
    width: 0;
}
.sub-footer h3 {
    font-family: 'PT Serif', serif;
    font-size:12px;
    color:#fff;
    font-weight: bold;
    padding: 30px 0px 15px 0;
    margin: 0;
}
.sub-footer .more {
    color: #f26522;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}
.sub-footer p {
    font-size:12px;
    margin-bottom: 5px;
}

.sub-footer .how-it-work,.sub-footer .links {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sub-footer .how-it-work li{
    border-bottom: 1px solid #0076a3;
}
.sub-footer .how-it-work li a {
    line-height: 32px;
    font-size:12px;
    color:#fff;
}
.sub-footer .links li a{
    font-size:12px;
    color:#fff;
}

.sub-footer .how-it-work li:last-child {
    border-bottom:none;
}
.sub-footer .inline-list {
    margin-bottom: 0;
}
.sub-footer .inline-list li {
    margin-left:0;
    margin-right:1px;
}
.sub-footer .inline-list li a i {
    font-size:36px;
    background: url('../img/ico-socail-home.png') no-repeat;
    width: 33px;
    height: 33px;
    display: inline-block;
}

.sub-footer .inline-list li a i.ico-social-facebook {background-position: 0 0;}
.sub-footer .inline-list li a i.ico-social-linkedin {background-position: -37px 0;}
.sub-footer .inline-list li a i.ico-social-twitter {background-position: -72px 0;}
.sub-footer .inline-list li a i.ico-social-instagram {background-position: -108px 0;}
.sub-footer .inline-list li a i.ico-social-pinterest {background-position: -144px 0;}
.sub-footer .inline-list li a i.ico-meet-up {background-position: -180px 0;}
.sub-footer .inline-list li a i.ico-social-youtube {background-position: -216px 0;}
.sub-footer .frm-bottom a.button {
    background:#f26522;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border:none;
    padding: 0;
}
.sub-footer .frm-bottom input[type="text"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.footer {
    background:#008fd0;
    color:#fff;
    height: 47px;
    line-height: 47px;
}
.footer ul {
    margin: 0;
    padding: 0;
    float:right;
}
.footer ul li a {
    text-transform: uppercase;
    font-size:12px;
    line-height: 47px;
    font-weight: bold;
    color:#fff;
}
.footer span {font-size:12px;}


/****************** sign up *************************/
.block-sign-up {
    background: url('../img/bg-sign-up.jpg') no-repeat top center;
    background-size: 100%;
    padding-bottom:40px;
    padding-top: 70px;
}
.block-sign-up h3 {
    font-size: 32px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    padding-bottom: 20px;
    color:#fff;
    text-shadow: 0 2px 1px #4a4a4a;
}

.block-sign-up p {
    font-size: 14px;
    color:#fff;
}

.block-sign-up form .button {
    background:#f26522;
    color: #fff;
    text-transform: uppercase;
    padding:8px;
}

.block-sign-up form input[type='text'] {
    margin-bottom: 25px;
}


/******** page blog ***********/
.wrap-post {
    background: #e6e6e6;
    padding-top:80px;
}

.item-post {
    background:#fff;
    padding-top:20px;
    margin-bottom: 35px !important;
}

.item-post .time-post {
    color:#fff;
    background: #008fd0;
    font-size: 12px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 0;
}
.item-post .time-post b {font-size:14px;}
.item-post .count-share {
    background: #e6e6e6;
    font-size:10px;
    color: #008fd0;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-top: 5px;
}

.item-post .count-share b {font-size:14px;}
.item-post p {font-size:14px;line-height: 22px;}
.item-post .info-author {margin-top:10px;}
.item-post .info-author,.item-post .info-author p {font-size:12px;}
.item-post  h3 {font-size: 22px;margin-top:10px;color:#333;}
.wrap-social,.testimonial,.recent-post,.wrap-tags,.wrap-archive {
    padding:19px;
    background: #fff;
    margin-bottom:40px;
}

.wrap-tags h3,.wrap-archive h3 {
    font-size:14px;
    color:#333;
} 


/*************** responsive **********/
@media only screen and (max-width: 1024px) { 
    .block-quote {
        padding: 30px 0;
    }
    .block-quote ul li {
        margin-right: 0;
    }
    .feature-campaign {padding: 40px 0;}
    .feature-campaign h3 {padding-bottom: 15px;}
    .feature-campaign .panel ul li {
        margin-left: 5px;
        margin-right: 5px;
    }
    .block-campaign,.block-events {
        background-size: cover;
    }
    .block-post h3 {padding-bottom: 15px;}
}
@media only screen and (max-width:769px) {
    .top-bar .toggle-topbar a {color:#118dd6; font-size:46px;}
    .top-bar.expanded .title-area {
        background: none;
    }
    .top-bar.expanded .toggle-topbar a {
        color:#118dd6;
        font-size:46px;
    }
    .header .top-bar .name {
        width: auto;
        height: auto;
        display: block;
    }
    .header .top-bar .name h1 {
        background-size: contain;
        width:100%;
        height: 100%;
    }
}
@media only screen and (max-width: 768px) and (min-width:640px) {
    .feature-campaign .row .medium-3,.block-post .row .medium-4,.block-post  .medium-9,.block-post  .medium-3 {width:100%;}
    .feature-campaign img,.block-post img{width: 100%;}
    .footer {height: auto;}
}
@media only screen and (max-width: 640px) {
    .block-campaign,.block-events {height: auto;padding-bottom: 20px;}
    .block-quote h3 {text-align: center;}
    .feature-campaign img,.block-post img{width: 100%;}
    .footer {height: auto;text-align: center;}
    .footer ul {float: none;}
    .footer ul li {display: inline-block;float: none;}
    .bar-top .list-top li a {font-size:14px;}
}

@media only screen and (max-width: 320px) {
    .block-quote ul li {
        margin-right: -2px;
    }
}