/*
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Merriweather', serif;
/*



/************* style home **************/
.bar-top {
    background:#008fd0;
    height:47px;
}
.bar-top .list-top {float:right;margin-bottom: 0;}
.bar-top .list-top li a{
    color:#fff;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 47px;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
}
.bar-top .list-top li a i {font-size:16px;margin-right: 5px;}
.header {
    padding:10px 0;
}
.header .top-bar {
    background:#fff;
}

.header .top-bar .top-bar-section ul li {
    background: #fff;
}
.header .top-bar .top-bar-section li:not(.has-form) a:not(.button){
    background: #fff;
    padding:10px 15px;
}

.header .top-bar .top-bar-section ul li a {
    color:#008fd0;
    text-transform: uppercase;
    font-size:14px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.header .top-bar-section li.active:not(.has-form) a:not(.button) {
    color:#f26522;
}
.header .top-bar .name h1 {
    background: url('../img/logo.jpg') no-repeat top left;
    width: 262px;
    height: 70px;
    display: inline-block;
    text-indent: -9999px;
}

.block-quote {
    background: #e6e6e6;
    padding:40px 0px;
}

.block-quote h3 {
    font-size:22px;
    color: #4c4b4b;
    font-family: 'Merriweather', serif;
    font-size: 30pt;
}

.block-quote .quote .msg {
    background: url('../img/quote-left.png') no-repeat, url('../img/quote-right.png') no-repeat;
    background-position: left 20%,right 90%;
    padding: 30px 30px 15px 45px;
    font-size:14px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.block-quote .quote .author {font-size: 18px;text-transform: uppercase;margin-bottom: 0;}
.block-quote .quote span {font-size: 11px;color: #999;}
.block-quote ul {
    margin:0;
    padding:0;
}
.block-quote ul li {
    margin-left:0;
    margin-right:20px;
}
.feature-campaign {
    padding:60px 0;
}

.feature-campaign h3 {
    font-size: 25pt;
    color: #4c4b4b;
    padding-bottom: 45px;
    font-family: 'Merriweather', serif;
}

.feature-campaign .panel {
    padding:0;
    margin:0;
    background: #fff;
}

.feature-campaign .panel h5,.block-post .panel h5 {
    font-size: 13pt;
    padding:10px 0px 0 10px;
    margin-bottom: 0;
    line-height: 22px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.feature-campaign .panel span,.block-post .panel span {
    font-size:12px;
    color:#999;
    font-style: italic;
    padding-left:10px;
}

.feature-campaign .panel ul {
    background: #e6e6e6;
    padding:5px 0px 5px 0px;
}

.feature-campaign .panel ul li {
    margin-left:10px;
    margin-right: 10px;
    font-size:10px;
    text-align: center;
}

.feature-campaign .panel ul li span {
    font-size: 17px;
    font-weight: bold;
    color: #008fd0;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}

.feature-campaign .panel p,.block-post .panel p {
    font-size:11pt;
    color: #000;
    padding:10px 10px 0 10px;
    font-family: 'Open Sans', sans-serif;

}
.block-campaign {
    background: url('../img/bg-campaign.jpg') no-repeat center top;
    background-size: 100%;
    height: 227px;
}

.block-campaign h3 {
    color:#fff;
    font-size: 32px;
    padding-top:65px;
    font-weight: bold;
    font-family: 'Merriweather', serif;
}

.block-campaign a {
    color: #fff;
    border:3px solid #fff;
    padding:3px 7px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:20px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}
.block-campaign a.ex {
    color: #1a8fcf;
    border:none;
    background:#fff;
    padding:6px 7px;
    margin-right:10px;
}

.block-post {
    padding:50px 0px;
}
.block-post h3 {
    color: #4c4b4b;
    font-size: 25pt;
    padding-bottom: 45px;
    font-family: 'Merriweather', serif;
}

.block-post .panel {
    background:#fff;
    padding:10px;
}
.block-post .panel h5,.block-post .panel p,.block-post .panel span {
    padding:0;
}
.block-post .panel p {
    padding-top:15px;
}
.block-events {
    background: url('../img/bg-event.jpg') no-repeat top right;
    background-size: 100%;
    height: 270px;
    color:#fff;
}

.block-events h3 {
    color:#fff;
    padding-top: 30px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Merriweather', serif;
}
.block-events a {
    font-size: 14pt;
    border: 4px solid #fff;
    padding:10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.block-events p {
    font-size: 18px;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}
.small-quote p{
    background: url('../img/quote-left.png') no-repeat, url('../img/quote-right.png') no-repeat;
    background-position: left 20%,right 20%;
    font-size:18px;
    color:#008fd0;
    padding-left:45px;
    padding-right:45px;
    margin:30px 0px 30px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}




.sub-footer {
    background: #006699;
    color:#fff;
    padding-bottom: 20px;
}
.sub-footer::before {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    content: "";
    display: block;
    height: 0;
    left: calc(50% - 20px);
    position: relative;
    top: 0;
    width: 0;
}
.sub-footer h3 {
    font-size:12pt;
    color:#fff;
    font-weight: 700;
    padding: 30px 0px 15px 0;
    margin: 0;
    font-family: 'Merriweather', serif;

}
.sub-footer .more {
    color: #f26522;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}
.sub-footer p {
    font-size:12px;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
}

.sub-footer .how-it-work,.sub-footer .links {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sub-footer .how-it-work li{
    border-bottom: 1px solid #0076a3;
}
.sub-footer .how-it-work li a {
    line-height: 32px;
    font-size:11pt;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
}
.sub-footer .links li a{
    font-size:12px;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
}

.sub-footer .how-it-work li:last-child {
    border-bottom:none;
}
.sub-footer .inline-list {
    margin-bottom: 0;
}
.sub-footer .inline-list li {
    margin-left:0;
    margin-right:1px;
}
.sub-footer .inline-list li a:hover {
    opacity: 0.9;
}
.sub-footer .inline-list li a i {
    font-size:36px;
    background: url('../img/ico-socail-home.png') no-repeat;
    width: 33px;
    height: 33px;
    display: inline-block;
}

.sub-footer .inline-list li a i.ico-social-facebook {background-position: 0 0;}
.sub-footer .inline-list li a i.ico-social-linkedin {background-position: -37px 0;}
.sub-footer .inline-list li a i.ico-social-twitter {background-position: -72px 0;}
.sub-footer .inline-list li a i.ico-social-instagram {background-position: -108px 0;}
.sub-footer .inline-list li a i.ico-social-pinterest {background-position: -144px 0;}
.sub-footer .inline-list li a i.ico-meet-up {background-position: -180px 0;}
.sub-footer .inline-list li a i.ico-social-youtube {background-position: -216px 0;}
.sub-footer .frm-bottom a.button {
    background:#f26522;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border:none;
    padding: 0;
}
.sub-footer .frm-bottom input[type="text"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.footer {
    background:#008fd0;
    color:#fff;
    height: 47px;
    line-height: 47px;
    font-family: 'Open Sans', sans-serif;
}
.footer ul {
    margin: 0;
    padding: 0;
    float:right;
}
.footer ul li a {
    text-transform: uppercase;
    font-size:12px;
    line-height: 47px;
    font-weight: bold;
    color:#fff;
}
.footer span {font-size:12px;}


/****************** sign up *************************/
.block-sign-up {
    background: url('../img/bg-sign-up.jpg') no-repeat top center;
    background-size: 100%;
    padding-bottom:40px;
    padding-top: 70px;
}
.block-sign-up h3 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    color:#fff;
    text-shadow: 0 2px 1px #4a4a4a;
}

.block-sign-up p {
    font-size: 14px;
    color:#fff;
}

.block-sign-up form .button {
    background:#f26522;
    color: #fff;
    text-transform: uppercase;
    padding:8px;
}

.block-sign-up form input[type='text'] {
    margin-bottom: 25px;
}


/******** page blog ***********/
.wrap-post {
    background: #e6e6e6;
    padding-top:80px;
    font-family: 'Open Sans', sans-serif;
}

.item-post {
    background:#fff;
    padding-top:20px;
    margin-bottom: 35px !important;
}

.item-post .time-post {
    color:#fff;
    background: #008fd0;
    font-size: 12px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 0;
}
.item-post .time-post b {font-size:14px;}
.item-post .count-share {
    background: #e6e6e6;
    font-size:10px;
    color: #008fd0;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-top: 5px;
}

.item-post .count-share b {font-size:14px;}
.item-post p {font-size:14px;line-height: 22px;}
.item-post .info-author {margin-top:10px;}
.item-post .info-author,.item-post .info-author p {font-size:12px;}
.item-post  h3 {font-size: 22px;margin-top:10px;color:#333; font-family: 'Open Sans', sans-serif;}
.wrap-social,.testimonial,.recent-post,.wrap-tags,.wrap-archive {
    padding:19px;
    background: #fff;
    margin-bottom:40px;
}

.wrap-tags h3,.wrap-archive h3 {
    font-size:14px;
    color:#333;
} 
/************* blog home ************/
.frm-quick-search {
    background: #fff;
    border:1px solid #a1a1a1;
    margin-bottom: 40px;
    padding:5px;
}
.frm-quick-search input[type="text"]{
    background: none;
    border:none;
    margin-bottom: 0;
    box-shadow: none;
}
.frm-quick-search a {
    color:#333;
    display: block;
    margin-top: 5px;
}
.wrap-social  h3{
    font-size:14px;
    color:#666;
    font-family: 'Open Sans', sans-serif;
}

.wrap-social  h3 a {
    color:#008fd0;
}
.wrap-social .inline-list {
    margin-bottom: 0;
}
.wrap-social .inline-list li{
    margin-left:5px;
}
.wrap-social .inline-list li a i {
    background: url('../img/ico-socail-blog.png') no-repeat;
    display: inline-block;
    height: 42px;
    width: 42px;
}
.wrap-social .inline-list li a i.ico-social-facebook {background-position: 0 0;}
.wrap-social .inline-list li a i.ico-social-linkedin {background-position: -46px 0;}
.wrap-social .inline-list li a i.ico-social-twitter {background-position: -92px 0;}
.wrap-social .inline-list li a i.ico-social-instagram {background-position: -138px 0;}
.wrap-social .inline-list li a i.ico-social-pinterest {background-position: -184px 0;}
.wrap-social .inline-list li a i.ico-meet-up {background-position: -230px 0;}
.wrap-social .inline-list li a i.ico-social-youtube {background-position: -276px 0;}
.testimonial p.msg{font-size: 13px;font-style:italic;}
.testimonial p.author{font-size: 18px;text-align: right;text-transform: uppercase;margin-bottom: 0;}
.testimonial span{color:#999;font-size: 11px;text-align: right;display: block;}
.wrap-tags h3,.wrap-archive h3 {font-family: 'Open Sans', sans-serif;font-size:14px;text-transform: uppercase;}
.wrap-tags ul,.wrap-archive ul {margin-left:0;}
.wrap-tags ul li {float:left;list-style: none;margin-right: 5px;margin-bottom: 5px;}
.wrap-tags ul li a {font-size: 12px;background: #f26522;color:#fff;padding:3px 7px;}
.wrap-tags ul li a:hover {background: #f77a3f;}
.wrap-archive ul li a i{
    color:#f26522;
    margin-right: 4px;
    font-size:15px;
}
.wrap-archive ul li{list-style: none}
.wrap-archive ul li a {font-size: 12px;color:#333;}
.recent-post .tabs dd > a,.recent-post .tabs .tab-title > a{  padding: 5px 40px;font-family: 'Open Sans', sans-serif;font-size: 14px;}
.recent-post .tabs dd.active a, .recent-post .tabs .tab-title.active a{background: #f26522;color:#fff;}
.recent-post .tabs-content {margin-bottom: 0;}
.recent-post .tabs-content section .list-post {list-style: none;margin-left:0;}
.recent-post .tabs-content section .list-post li {border-bottom:1px solid #c2c2c2;padding-bottom:10px;padding-top:10px;float:left;width: 100%;box-sizing: border-box; }
.recent-post .tabs-content section .list-post li:last-child {border-bottom: none;}
.recent-post .tabs-content section .list-post li:first-child {padding-top:0px;}
.recent-post .tabs-content section .list-post li a{float:left;margin-right:10px;margin-top: 5px;display: block;}
.recent-post .tabs-content section .list-post li .block {font-family: 'Open Sans', sans-serif;width: 80%;float:left;}
.recent-post .tabs-content section .list-post li .block p{font-size:12px;margin-bottom: 0;}
.recent-post .tabs-content section .list-post li .block span{color:#959595;font-size:10px;font-style: italic;}


/******************campaign **************/
.wrap-band {
    background: #e6e6e6;
    padding-top: 40px;
}
.top-band {
    padding-bottom: 40px;
}
.top-band h3 {
    font-size: 30px;
    font-family: 'Merriweather', serif;
    color:#484848;
    margin-bottom: 0;
    line-height: 40px;
}

.top-band span {
    font-size: 12px;
    color:#484848;
    font-family: 'Open Sans', sans-serif;
}

.top-band .btn-follow {
    background: #b6b6b6;
    color:#fff;
    font-weight: 600;
}
.top-band .btn-follow i {
    background: url('../img/ico-infi.png') no-repeat top left;
    width: 13px;
    height: 13px;
    display: inline-block;
    margin-right: 5px;
}

.top-band .btn-back-proj {
    background: #f26522;
    font-weight: 600;
}

.package ul {
    list-style: none;
    margin-left: 0;
}

.package ul li {
    margin-bottom: 55px;
}
.package ul li span{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color:#484848;
}

.package ul li p {
    color: #008fd0;
    font-family: "Work Sans",sans-serif;
    font-size: 55px;
    font-weight: 100;
    line-height: 55px;
    margin-bottom: 0;
}

.package .graph {
    position: relative;
    min-height: 340px;
}
.package .graph .item-graphic {
    position: absolute;
    top:80px;
    left:10px;
    background: url(../img/ico-rocket.png) no-repeat 0 0;
    width: 29px;
    height: 78px;
}

.package .graph .bar-process {
    background: #f26522;
    width: 7px;
    border-radius: 3px;
    min-height: 340px;
    margin-left: 50px
}

.package .graph .bar-process div {
    height: 100px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #666766;
}
.package .graph .bottom,.package .graph .top {
    position: absolute;
    right:0;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #555555;
}
.package .graph .top {
    top: 0;
}
.package .graph .bottom {
    bottom: 0;
}

.content-campaigninner {
    background: #fff;
    padding-top:55px;
}

.content-campaigninner .info-package {
    margin-left: 0;
}
.content-campaigninner .info-package li {margin-right:70px;margin-left:0;}
.content-campaigninner .info-package li a {color:#484848;font-weight: 600;}
.content-campaigninner .info-package  li.active a{color:#008fd0;}
.content-campaigninner .info-package li a span{font-weight: 300;}
.content-campaigninner h2 {font-family: 'Work Sans', sans-serif;font-size: 30px;font-weight: 100;color: #484848;}
.content-campaigninner span.tags {
    font-size:12px;
    font-family: 'Open Sans', sans-serif;
    color: #484848;
}
.content-campaigninner .socail-campaign li {margin-left:5px;}
.content-campaigninner .socail-campaign li a i {
    background: url('../img/ico-sprites.png') no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
} 
.content-campaigninner .socail-campaign {font-size:12px;color: #484848;line-height: 32px;margin-bottom: 0;}
.content-campaigninner .socail-campaign li a i.ico-fb {background-position: 0 0;}
.content-campaigninner .socail-campaign li a i.ico-tw {background-position: -38px 0;}
.content-campaigninner .socail-campaign li a i.ico-gplus {background-position: -70px 0;}
.content-campaigninner .socail-campaign li a i.ico-p {background-position: -108px 0;}
.content-campaigninner .socail-campaign li a i.ico-r {background-position: -143px 0;}
.content-campaigninner .socail-campaign li a i.ico-in {background-position: -179px 0;}
.content-campaigninner .block-reward  {font-family: 'Open Sans', sans-serif;}
.content-campaigninner .block-reward h3 {font-size: 18px;color:#434343;line-height: 30px;font-weight: 600;}
.content-campaigninner .block-reward h3 i.ico-reward{
    background: url('../img/ico-sprites.png') no-repeat 0 -37px;
    height: 23px;
    width: 32px;
    display: inline-block;
}

.content-campaigninner .block-reward ul{
    list-style: none;
    margin-left:0;
}

.content-campaigninner .block-reward ul li {
    background: #e6e6e6;
    padding:5px 20px 10px 20px;
    margin-bottom: 30px;
}

.content-campaigninner .block-reward ul li h4 {font-size: 18px;color: #434343}
.content-campaigninner .block-reward ul li p {font-size: 14px;}
.content-campaigninner .block-reward  span{font-family: 'Open Sans', sans-serif;color: #464646;font-size: 12px; }
.content-campaigninner .block-reward .count .left{font-family: 'Work Sans', sans-serif;font-size: 48px;font-weight: 100;color:#008fd0;}
.content-campaigninner .block-reward .count .right{margin-top: 40px;}
.content-campaigninner .list-update {
    list-style: none;
    margin-left: 0;
}

.content-campaigninner .list-update li {
    margin-bottom: 60px;
}
.content-campaigninner .list-update li span {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.content-campaigninner .list-update li h4 {
    font-size: 30px;
    font-weight: 100;
    font-family: 'Work Sans', sans-serif;
    color:#484848;
}
.content-campaigninner .list-update li p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.content-campaigninner .list-backer {
    list-style: none;
    margin-left:0;
}
.content-campaigninner .list-backer li {
    border-bottom: 1px solid #e7e7e7;
    padding:35px 0;
    float:left;
    width:100%;
}
.content-campaigninner .list-backer li img {
    margin-right:15px;
}
.content-campaigninner .list-backer li p {
    margin-top:20px;
    font-family: 'Open Sans', sans-serif;
    color: #999;
    line-height: 20px;
    font-size:14px;
}
.content-campaigninner .list-backer li p span {
    font-weight: 600;
    color:#484848;
}

.content-campaigninner .list-backer li p.price {
    margin-top:25px;
    font-size:26px;
    color: #484848;
}
.content-campaigninner .list-backer li p.price span {font-size: 14px;padding-left: 10px;}


.block-enhance {
    background: url('../img/bg-project.png')no-repeat top center;
    background-size: cover;
}

.block-enhance  {
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    padding-top:30px;
    padding-bottom: 30px;
}
.block-enhance h3 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color:#fff;
}
.block-enhance p {
    font-size: 18px;
    padding: 0px 20px;
}
.block-enhance a {
    font-size: 16px;
    background: #f26522;
    font-weight: 600;
}













/*************** responsive **********/
@media only screen and (max-width: 1024px) { 
    .block-quote {
        padding: 30px 0;
    }
    .block-quote ul li {
        margin-right: 0;
    }
    .feature-campaign {padding: 40px 0;}
    .feature-campaign h3 {padding-bottom: 15px;}
    .feature-campaign .panel ul li {
        margin-left: 5px;
        margin-right: 5px;
    }
    .block-campaign,.block-events {
        background-size: cover;
    }
    .block-post h3 {padding-bottom: 15px;}
    .block-sign-up {background-size: cover;}
}
@media only screen and (max-width:769px) {
    .top-bar .toggle-topbar a {color:#118dd6; font-size:46px;}
    .top-bar.expanded .title-area {
        background: none;
    }
    .top-bar.expanded .toggle-topbar a {
        color:#118dd6;
        font-size:46px;
    }
    .header .top-bar .name {
        width: auto;
        height: auto;
        display: block;
    }
    .header .top-bar .name h1 {
        background-size: contain;
        width:100%;
        height: 100%;
    }
    .item-post,.right-bar .row {margin:0 !important;}
    .frm-quick-search {margin-top: 30px;}
    .top-band {
        padding-bottom: 10px;
    }
    .campaign-video {
        margin-bottom: 20px;
    }
    .content-campaigninner .list-backer li:last-child {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 768px) and (min-width:640px) {
    .feature-campaign .row .medium-3,.block-post .row .medium-4,.block-post  .medium-9,.block-post  .medium-3 {width:100%;}
    .feature-campaign img,.block-post img{width: 100%;}
    .footer {height: auto;}
}
@media only screen and (max-width: 640px) {
    .block-campaign,.block-events {height: auto;padding-bottom: 20px;}
    .block-quote h3 {text-align: center;}
    .feature-campaign img,.block-post img{width: 100%;}
    .footer {height: auto;text-align: center;}
    .footer ul {float: none;}
    .footer ul li {display: inline-block;float: none;}
    .bar-top .list-top li a {font-size:14px;}
}

@media only screen and (max-width: 320px) {
    .block-quote ul li {
        margin-right: -2px;
    }
    .recent-post .tabs dd > a, .recent-post .tabs .tab-title > a {
        padding: 5px 15px;
    }
    .recent-post .tabs-content section .list-post li .block{width: 75%;}
    .package ul li p {font-size:45px}
    .package .graph .bottom, .package .graph .top {right: 10px;}
    .package .graph .item-graphic {left: -5px;}
    .package .graph .bar-process {margin-left: 30px;}
    .content-campaigninner .list-backer li {
        padding:15px 0;
    }
}