/*
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Merriweather', serif;
/*



/************* style home **************/
.bar-top {
    background:#008fd0;
    height:47px;
}
.bar-top .list-top {float:right;margin-bottom: 0;}
.bar-top .list-top li a{
    color:#fff;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 47px;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
}
.bar-top .list-top li a i {font-size:16px;margin-right: 5px;}
.header {
    padding:10px 0;
}
.header .top-bar {
    background:#fff;
}

.header .top-bar .top-bar-section ul li {
    background: #fff;
}
.header .top-bar .top-bar-section li:not(.has-form) a:not(.button){
    background: #fff;
    padding:10px 15px;
}

.header .top-bar .top-bar-section ul li a {
    color:#008fd0;
    text-transform: uppercase;
    font-size:14px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.header .top-bar-section li.active:not(.has-form) a:not(.button) {
    color:#f26522;
}
.header .top-bar .name h1 {
    background: url('../img/logo.jpg') no-repeat top left;
    width: 262px;
    height: 70px;
    display: inline-block;
    text-indent: -9999px;
}

.block-quote {
    background: #e6e6e6;
    padding:40px 0px;
}

.block-quote h3 {
    font-size:22px;
    color: #4c4b4b;
    font-family: 'Merriweather', serif;
    font-size: 30pt;
}

.block-quote .quote .msg {
    background: url('../img/quote-left.png') no-repeat, url('../img/quote-right.png') no-repeat;
    background-position: left 20%,right 90%;
    padding: 30px 30px 15px 45px;
    font-size:14px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.block-quote .quote .author {font-size: 18px;text-transform: uppercase;margin-bottom: 0;}
.block-quote .quote span {font-size: 11px;color: #999;}
.block-quote ul {
    margin:0;
    padding:0;
}
.block-quote ul li {
    margin-left:0;
    margin-right:20px;
}
.feature-campaign {
    padding:60px 0;
}

.feature-campaign h3 {
    font-size: 25pt;
    color: #4c4b4b;
    padding-bottom: 45px;
    font-family: 'Merriweather', serif;
}

.feature-campaign .panel {
    padding:0;
    margin:0;
    background: #fff;
    position: relative;
}

.feature-campaign .panel h5,.block-post .panel h5 {
    font-size: 13pt;
    padding:10px 0px 0 10px;
    margin-bottom: 0;
    line-height: 22px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.feature-campaign .panel span,.block-post .panel span {
    font-size:12px;
    color:#999;
    font-style: italic;
    padding-left:10px;
}

.feature-campaign .panel ul {
    background: #e6e6e6;
    padding:5px 0px 5px 0px;
}

.feature-campaign .panel ul li {
    margin-left:10px;
    margin-right: 10px;
    font-size:10px;
    text-align: center;
}

.feature-campaign .panel ul li span {
    font-size: 17px;
    font-weight: bold;
    color: #008fd0;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}

.feature-campaign .panel p,.block-post .panel p {
    font-size:11pt;
    color: #000;
    padding:10px 10px 0 10px;
    font-family: 'Open Sans', sans-serif;
}
.feature-campaign .sl-category {width:70%;background: url('../img/ico-dropdown.png') no-repeat top right;}
.feature-campaign .item-campaign {margin-bottom: 40px;}
.item-campaign .info-item-campaign {
    background: rgba(242, 101, 34, 0.8);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    padding-top:70px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
}

.item-campaign ul.inline-list {margin-bottom: 0;}
.item-campaign:hover .info-item-campaign{ opacity: 1;}
.mrgt-40 {
    margin-top:40px;
}

.btn-more {background: #f26522;color:#fff;
           padding:10px 25px;text-transform: uppercase;}
.item-campaign .info-item-campaign p  {font-size:16px;margin-bottom: 1px;color:#fff;padding: 0}
.item-campaign .info-item-campaign p span {font-size:12px;color:#fff;}
.item-campaign .info-item-campaign p b {font-size:26px;font-weight: 600}
.ico-atom {
    background: url('../img/ico-sprites.png') no-repeat -77px -67px;
    width: 46px;
    height: 46px;
    display: inline-block;
    margin:10px 0;
}
.block-campaign {
    background: url('../img/bg-campaign.jpg') no-repeat center top;
    background-size: 100%;
    height: 227px;
}

.block-campaign h3 {
    color:#fff;
    font-size: 32px;
    padding-top:65px;
    font-weight: bold;
    font-family: 'Merriweather', serif;
}

.block-campaign a {
    color: #fff;
    border:3px solid #fff;
    padding:3px 7px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:20px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}
.block-campaign a.ex {
    color: #1a8fcf;
    border:none;
    background:#fff;
    padding:6px 7px;
    margin-right:10px;
}

.block-post {
    padding:50px 0px;
}
.block-post h3 {
    color: #4c4b4b;
    font-size: 25pt;
    padding-bottom: 45px;
    font-family: 'Merriweather', serif;
}

.block-post .panel {
    background:#fff;
    padding:10px;
}
.block-post .panel h5,.block-post .panel p,.block-post .panel span {
    padding:0;
}
.block-post .panel p {
    padding-top:15px;
}
.block-events {
    background: url('../img/bg-event.jpg') no-repeat top right;
    background-size: 100%;
    height: 270px;
    color:#fff;
}

.block-events h3 {
    color:#fff;
    padding-top: 30px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Merriweather', serif;
}
.block-events a {
    font-size: 14pt;
    border: 4px solid #fff;
    padding:10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.block-events p {
    font-size: 18px;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}
.small-quote p{
    background: url('../img/quote-left.png') no-repeat, url('../img/quote-right.png') no-repeat;
    background-position: left 20%,right 20%;
    font-size:18px;
    color:#008fd0;
    padding-left:45px;
    padding-right:45px;
    margin:30px 0px 30px 0;
    font-family: 'Merriweather', serif;
    font-weight: 300;
}




.sub-footer {
    background: #006699;
    color:#fff;
    padding-bottom: 20px;
}
.sub-footer::before,.sub-footer-campaign::before {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    content: "";
    display: block;
    height: 0;
    left: calc(50% - 20px);
    position: relative;
    top: 0;
    width: 0;
}
.sub-footer-campaign::before {
    border-top: 20px solid #e6e6e6;
}
.sub-footer h3 {
    font-size:12pt;
    color:#fff;
    font-weight: 700;
    padding: 30px 0px 15px 0;
    margin: 0;
    font-family: 'Merriweather', serif;

}
.sub-footer .more {
    color: #f26522;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}
.sub-footer p {
    font-size:12px;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
}

.sub-footer .how-it-work,.sub-footer .links {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sub-footer .how-it-work li{
    border-bottom: 1px solid #0076a3;
}
.sub-footer .how-it-work li a {
    line-height: 32px;
    font-size:11pt;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
}
.sub-footer .links li a{
    font-size:12px;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
}

.sub-footer .how-it-work li:last-child {
    border-bottom:none;
}
.sub-footer .inline-list {
    margin-bottom: 0;
}
.sub-footer .inline-list li {
    margin-left:0;
    margin-right:1px;
}
.sub-footer .inline-list li a:hover {
    opacity: 0.9;
}
.sub-footer .inline-list li a i {
    font-size:36px;
    background: url('../img/ico-sprites.png') no-repeat;
    width: 33px;
    height: 33px;
    display: inline-block;
}

.sub-footer .inline-list li a i.ico-social-facebook {background-position: -224px -1px;}
.sub-footer .inline-list li a i.ico-social-linkedin {background-position: -261px -1px;}
.sub-footer .inline-list li a i.ico-social-twitter {background-position: -297px -1px;}
.sub-footer .inline-list li a i.ico-social-instagram {background-position: -333px -1px;}
.sub-footer .inline-list li a i.ico-social-pinterest {background-position: -369px -1px;}
.sub-footer .inline-list li a i.ico-meet-up {background-position: -406px 0;}
.sub-footer .inline-list li a i.ico-social-youtube {background-position: -442px -1px;}
.sub-footer .frm-bottom a.button {
    background:#f26522;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border:none;
    padding: 0;
}
.sub-footer .frm-bottom input[type="text"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.footer {
    background:#008fd0;
    color:#fff;
    height: 47px;
    line-height: 47px;
    font-family: 'Open Sans', sans-serif;
}
.footer ul {
    margin: 0;
    padding: 0;
    float:right;
}
.footer ul li a {
    text-transform: uppercase;
    font-size:12px;
    line-height: 47px;
    font-weight: bold;
    color:#fff;
}
.footer span {font-size:12px;}


/****************** sign up *************************/
.block-sign-up {
    background: url('../img/bg-sign-up.jpg') no-repeat top center;
    background-size: 100%;
    padding-bottom:40px;
    padding-top: 70px;
}
.block-sign-up h3 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    color:#fff;
    text-shadow: 0 2px 1px #4a4a4a;
}

.block-sign-up p {
    font-size: 14px;
    color:#fff;
}

.block-sign-up form .button {
    background:#f26522;
    color: #fff;
    text-transform: uppercase;
    padding:8px;
}

.block-sign-up form input[type='text'] {
    margin-bottom: 25px;
}


/******** page blog ***********/
.wrap-post {
    background: #e6e6e6;
    padding-top:80px;
    font-family: 'Open Sans', sans-serif;
}

.item-post {
    background:#fff;
    padding-top:20px;
    margin-bottom: 35px !important;
}

.item-post .time-post {
    color:#fff;
    background: #008fd0;
    font-size: 12px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 0;
}
.item-post .time-post b {font-size:14px;}
.item-post .count-share {
    background: #e6e6e6;
    font-size:10px;
    color: #008fd0;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-top: 5px;
}

.item-post .count-share b {font-size:14px;}
.item-post p {font-size:14px;line-height: 22px;}
.item-post .info-author {margin-top:10px;}
.item-post .info-author,.item-post .info-author p {font-size:12px;}
.item-post  h3 {font-size: 22px;margin-top:10px;color:#333; font-family: 'Open Sans', sans-serif;}
.wrap-social,.testimonial,.recent-post,.wrap-tags,.wrap-archive,.wrap-porfolio,
.wrap-feature-campaign{
    padding:19px;
    background: #fff;
    margin-bottom:40px;
}

.wrap-tags h3,.wrap-archive h3 {
    font-size:14px;
    color:#333;
} 
/************* blog home ************/
.frm-quick-search {
    background: #fff;
    border:1px solid #a1a1a1;
    margin-bottom: 40px;
    padding:5px;
}
.frm-quick-search input[type="text"]{
    background: none;
    border:none;
    margin-bottom: 0;
    box-shadow: none;
}
.frm-quick-search a {
    color:#333;
    display: block;
    margin-top: 5px;
}
.wrap-social  h3{
    font-size:14px;
    color:#666;
    font-family: 'Open Sans', sans-serif;
}

.wrap-social  h3 a {
    color:#008fd0;
}
.wrap-social .inline-list {
    margin-bottom: 0;
}
.wrap-social .inline-list li{
    margin-left:5px;
}
.wrap-social .inline-list li a i {
    background: url('../img/ico-sprites.png') no-repeat;
    display: inline-block;
    height: 42px;
    width: 42px;
}
.wrap-social .inline-list li a i.ico-social-facebook {background-position: -223px -47px;}
.wrap-social .inline-list li a i.ico-social-linkedin {background-position: -269px -47px;}
.wrap-social .inline-list li a i.ico-social-twitter {background-position: -315px -47px;}
.wrap-social .inline-list li a i.ico-social-instagram {background-position: -361px -47px;}
.wrap-social .inline-list li a i.ico-social-pinterest {background-position: -407px -47px;}
.wrap-social .inline-list li a i.ico-meet-up {background-position: -454px -47px;}
.wrap-social .inline-list li a i.ico-social-youtube {background-position: -499px -47px;}
.testimonial p.msg{font-size: 13px;font-style:italic;}
.testimonial p.author{font-size: 18px;text-align: right;text-transform: uppercase;margin-bottom: 0;}
.testimonial span{color:#999;font-size: 11px;text-align: right;display: block;}
.wrap-tags h3,.wrap-archive h3 {font-family: 'Open Sans', sans-serif;font-size:14px;text-transform: uppercase;}
.wrap-tags ul,.wrap-archive ul {margin-left:0;}
.wrap-tags ul li {float:left;list-style: none;margin-right: 5px;margin-bottom: 5px;}
.wrap-tags ul li a {font-size: 12px;background: #f26522;color:#fff;padding:3px 7px;}
.wrap-tags ul li a:hover {background: #f77a3f;}
.wrap-archive ul li a i{
    color:#f26522;
    margin-right: 4px;
    font-size:15px;
}
.wrap-archive ul li{list-style: none}
.wrap-archive ul li a {font-size: 12px;color:#333;}
.recent-post .tabs dd > a,.recent-post .tabs .tab-title > a{  padding: 5px 40px;font-family: 'Open Sans', sans-serif;font-size: 14px;}
.recent-post .tabs dd.active a, .recent-post .tabs .tab-title.active a{background: #f26522;color:#fff;}
.recent-post .tabs-content {margin-bottom: 0;}
.recent-post .tabs-content section .list-post {list-style: none;margin-left:0;}
.recent-post .tabs-content section .list-post li {border-bottom:1px solid #c2c2c2;padding-bottom:10px;padding-top:10px;float:left;width: 100%;box-sizing: border-box; }
.recent-post .tabs-content section .list-post li:last-child {border-bottom: none;}
.recent-post .tabs-content section .list-post li:first-child {padding-top:0px;}
.recent-post .tabs-content section .list-post li a{float:left;margin-right:10px;margin-top: 5px;display: block;}
.recent-post .tabs-content section .list-post li .block {font-family: 'Open Sans', sans-serif;width: 75%;float:left;}
.recent-post .tabs-content section .list-post li .block p{font-size:12px;margin-bottom: 0;}
.recent-post .tabs-content section .list-post li .block span{color:#959595;font-size:10px;font-style: italic;}


/******************campaign **************/
.wrap-band {
    background: #e6e6e6;
    padding-top: 40px;
}
.top-band {
    padding-bottom: 40px;
}
.top-band h3 {
    font-size: 30px;
    font-family: 'Merriweather', serif;
    color:#484848;
    margin-bottom: 0;
    line-height: 40px;
}

.top-band span {
    font-size: 12px;
    color:#484848;
    font-family: 'Open Sans', sans-serif;
}

.top-band .btn-follow {
    background: #b6b6b6;
    color:#fff;
    font-weight: 600;
}
.top-band .btn-follow i {
    background: url('../img/ico-infi.png') no-repeat top left;
    width: 13px;
    height: 13px;
    display: inline-block;
    margin-right: 5px;
}

.top-band .btn-back-proj {
    background: #f26522;
    font-weight: 600;
}

.package ul {
    list-style: none;
    margin-left: 0;
}

.package ul li {
    margin-bottom: 55px;
}
.package ul li span{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color:#484848;
}

.package ul li p {
    color: #008fd0;
    font-family: "Work Sans",sans-serif;
    font-size: 55px;
    font-weight: 100;
    line-height: 55px;
    margin-bottom: 0;
}

.package .graph {
    position: relative;
    min-height: 340px;
}
.package .graph .item-graphic {
    position: absolute;
    top:80px;
    left:10px;
    background: url(../img/ico-rocket.png) no-repeat 0 0;
    width: 29px;
    height: 78px;
}

.package .graph .bar-process {
    background: #f26522;
    width: 7px;
    border-radius: 3px;
    min-height: 340px;
    margin-left: 50px
}

.package .graph .bar-process div {
    height: 100px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #666766;
}
.package .graph .bottom,.package .graph .top {
    position: absolute;
    right:0;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #555555;
}
.package .graph .top {
    top: 0;
}
.package .graph .bottom {
    bottom: 0;
}

.content-campaigninner {
    background: #fff;
    padding-top:55px;
}

.content-campaigninner .info-package {
    margin-left: 0;
}
.content-campaigninner .info-package li {margin-right:70px;margin-left:0;}
.content-campaigninner .info-package li a {color:#484848;font-weight: 600;}
.content-campaigninner .info-package  li.active a{color:#008fd0;}
.content-campaigninner .info-package li a span{font-weight: 300;}
.content-campaigninner h2 {font-family: 'Work Sans', sans-serif;font-size: 30px;font-weight: 100;color: #484848;}
.content-campaigninner span.tags {
    font-size:12px;
    font-family: 'Open Sans', sans-serif;
    color: #484848;
}
.content-campaigninner .socail-campaign li {margin-left:5px;}
.content-campaigninner .socail-campaign li a i {
    background: url('../img/ico-sprites.png') no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
} 
.content-campaigninner .socail-campaign {font-size:12px;color: #484848;line-height: 32px;margin-bottom: 0;}
.content-campaigninner .socail-campaign li a i.ico-fb {background-position: 0 0;}
.content-campaigninner .socail-campaign li a i.ico-tw {background-position: -38px 0;}
.content-campaigninner .socail-campaign li a i.ico-gplus {background-position: -70px 0;}
.content-campaigninner .socail-campaign li a i.ico-p {background-position: -108px 0;}
.content-campaigninner .socail-campaign li a i.ico-r {background-position: -143px 0;}
.content-campaigninner .socail-campaign li a i.ico-in {background-position: -179px 0;}
.content-campaigninner .block-reward  {font-family: 'Open Sans', sans-serif;}
.content-campaigninner .block-reward h3 {font-size: 18px;color:#434343;line-height: 30px;font-weight: 600;}
.content-campaigninner .block-reward h3 i.ico-reward{
    background: url('../img/ico-sprites.png') no-repeat 0 -37px;
    height: 23px;
    width: 32px;
    display: inline-block;
}

.content-campaigninner .block-reward ul{
    list-style: none;
    margin-left:0;
}

.content-campaigninner .block-reward ul li {
    background: #e6e6e6;
    padding:5px 20px 10px 20px;
    margin-bottom: 30px;
}

.content-campaigninner .block-reward ul li h4 {font-size: 18px;color: #434343}
.content-campaigninner .block-reward ul li p {font-size: 14px;}
.content-campaigninner .block-reward  span{font-family: 'Open Sans', sans-serif;color: #464646;font-size: 12px; }
.content-campaigninner .block-reward .count .left{font-family: 'Work Sans', sans-serif;font-size: 48px;font-weight: 100;color:#008fd0;}
.content-campaigninner .block-reward .count .right{margin-top: 40px;}
.content-campaigninner .list-update {
    list-style: none;
    margin-left: 0;
}

.content-campaigninner .list-update li {
    margin-bottom: 60px;
}
.content-campaigninner .list-update li span {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.content-campaigninner .list-update li h4 {
    font-size: 30px;
    font-weight: 100;
    font-family: 'Work Sans', sans-serif;
    color:#484848;
}
.content-campaigninner .list-update li p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.content-campaigninner .list-backer {
    list-style: none;
    margin-left:0;
}
.content-campaigninner .list-backer li {
    border-bottom: 1px solid #e7e7e7;
    padding:35px 0;
    float:left;
    width:100%;
}
.content-campaigninner .list-backer li img {
    margin-right:15px;
}
.content-campaigninner .list-backer li p {
    margin-top:20px;
    font-family: 'Open Sans', sans-serif;
    color: #999;
    line-height: 20px;
    font-size:14px;
}
.content-campaigninner .list-backer li p span {
    font-weight: 600;
    color:#484848;

}

.content-campaigninner .list-backer li p.price {
    margin-top:25px;
    font-size:26px;
    color: #484848;
    font-family: 'Work Sans', sans-serif;
}
.content-campaigninner .list-backer li p.price span {font-size: 14px;padding-left: 10px;}
.content-campaigninner .detail-campaign h3 {font-family: 'Open Sans', sans-serif;font-size: 18px;font-weight: 400;color:#333;}
.content-campaigninner .detail-campaign p {font-family: 'Open Sans', sans-serif;font-size: 14px;font-weight: 300;}
.content-campaigninner .detail-campaign img {margin-bottom: 10px;}
.info-project-leader {
    background: #e6e6e6;
    margin-top: 60px;
    margin-bottom: 40px;
}
.info-project-leader h3 {color: #333;padding:10px;font-size: 18px;}
.info-project-leader h3 i{color: #333;font-size: 23px;margin-right:5px;}
.info-project-leader ul {list-style: none;}
.info-project-leader ul li{font-size: 14px;color:#484848;line-height: 25px;}

.block-enhance {
    background: url('../img/bg-project.png')no-repeat top center;
    background-size: cover;
}

.block-enhance  {
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    padding-top:30px;
    padding-bottom: 30px;
}
.block-enhance h3 {
    font-size: 30px;
    font-family: 'Merriweather', serif;
    color:#fff;
}
.block-enhance p {
    font-size: 18px;
    padding: 0px 20px;
}
.block-enhance a {
    font-size: 16px;
    background: #f26522;
    font-weight: 600;
}

/************ create campaign *************/
.block-create-campaign {
    background: #e6e6e6;
    padding-top:30px;
}

.block-create-campaign h2 {
    color: #4c4b4b;
    font-size: 40px;
    font-family: 'Merriweather', serif;
    line-height: 30px;
    margin-bottom: 50px;
}

.block-create-campaign h2 span {
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
    color: #4c4b4b;
}

.block-create-campaign  .step {
    background: #fff;
    margin-bottom: 45px !important;
}
.block-create-campaign  .step h3 {
    background: #008fd0;
    color: #fff;
    margin:0;
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 41px;
    margin-bottom: 15px;
}
.block-create-campaign  .step h3 span {
    background: #fff;
    color: #008fd0;
    padding:1px 7px;
    margin-left:20px;
    margin-right:10px;
    font-weight: 600;
}

.block-create-campaign  .step label {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 2;
}

.block-create-campaign  .step .row {
    margin-top:10px;
}
.block-create-campaign  .step label.font-normal {
    font-weight: 300;
}
.link-agr-terms {font-family: 'Open Sans', sans-serif;font-size:12px;text-decoration: underline;}
.link-agr-terms:hover {text-decoration: none;}
.block-create-campaign  .step span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
}
.pad-b20 {padding-bottom: 20px;}
.block-create-campaign  .step span.note {margin-top:-10px;display: inline-block;color:#636363;}

.block-create-campaign  .step input[type="text"] {
    border:1px solid #a1a1a1;
    padding:10px;
    height: auto;
    box-shadow: none;
}
.block-create-campaign  .step select {
    margin-top:10px;
}
.block-create-campaign  .step .btn-more-rewards {
    background: #008fd0;
    font-size: 14px;
    padding: 7px 20px;
    text-transform: uppercase;
}

.block-create-campaign .btn-sbm-campaign {
    background: #f26522;
    text-transform: uppercase;
    margin-bottom:60px;
}

.block-create-campaign .font-italic {
    font-style: italic;
    font-size: 12px;
}
.block-create-campaign .last-row {padding-left:0;padding-right:0}

/*************** checkout **********/
.block-checkout .note-info {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-left: -22px;
    margin-bottom: 5px;
}

.block-checkout h2 {
    margin-bottom: 25px;
}

.block-checkout .step i {color:red}
.block-checkout .step .note-info-2 {
    color: #484848;
    display: block;
    font-size: 11px;
    font-style: italic;
    font-weight: 300;
    margin-top: -5px;
    line-height: 15px;
    margin-bottom: 5px;
}
.block-checkout .step .list-avatar > li > * {
    float: left;
}
.block-checkout .step .list-avatar {
    margin-top:10px;
}
.block-checkout .step .list-avatar li {
    margin-left: 0;
    margin-right: 10px;
}
.block-checkout .step .list-avatar li span{
    margin-top: -5px;
    float: left;
}
.block-checkout .step .list-avatar li input[type="radio"] {
    float:left;
}
.block-checkout .step .list-avatar li:first-child input[type="radio"] {
    float:left;
}
.block-checkout .step .note-ssl {font-size: 12px;margin-bottom: 20px;}
.block-checkout .step .note-ssl i{color:#333;}
.block-checkout .step .card-number i.card {
    position: relative;
}
.block-checkout .step .card-number i.card {
    position: absolute;
    right: 7px;
    top: -11px;
    width: 150px;
    height: 30px;
    background: url('../img/ico-sprites.png') no-repeat -221px -107px; 
}
.block-checkout .step .bottom-link {
    font-size: 12px;
    margin-top: -10px;
    float:left;
    margin-bottom: 10px;
    text-decoration: underline;
}

.block-checkout .step .bottom-link:hover {text-decoration: none;}
.block-checkout .last-row h4 {
    font-size: 20px;
    color:#333;
    font-family: 'Open Sans', sans-serif;
}

.block-summary {
    background: #fff;
    padding-bottom: 20px;
    position: relative;
    top: 20px;
}
.block-summary hr {
    margin: 15px 0;
}
.block-summary h3 {
    color:#fff;
    background: #008fd0;
    height: 41px;
    line-height: 41px;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-indent: 20px;
    font-weight: 600;
}

.block-summary h4 {
    font-family: 'Merriweather', serif;
    font-weight: 600;
    color:#333;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
}

.block-summary span {font-size:12px;color:#555}
.block-summary .purchase-price {
    font-size: 34px;
    line-height: 26px;
}
.block-summary .purchase-price small {
    font-size: 12px;
    text-transform: uppercase;
    color: #959595;
}

.block-summary .opt-purchase {
    font-size: 12px;
    color:#008fd0;
    margin-top: 40px;
    text-align: right;
}
.block-summary h5 {
    color:#464646;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.block-summary h5 small {
    font-size: 12px;
    text-transform: uppercase;
    color: #959595;
    font-weight: 300;
}

.block-summary p {
    font-size: 12px;
    color:#555555;
}

.block-summary .txt-bold {
    font-size:20px;
    font-weight: 600;
}


.sidebar-create-campaign {
    background: #fff;
    padding-bottom: 10px;
    margin-bottom: 30px !important;
}
.sidebar-create-campaign h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin:0;
    color:#333;
    line-height: 41px;
    text-indent: 20px;
}
.sidebar-create-campaign h3.need-help {
    background: #f26522;
    color:#fff;
}

.sidebar-create-campaign p {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    padding:20px;
    margin-bottom: 10px;
}
.sidebar-create-campaign p.collapse {
    padding:0px 20px 20px 20px;
    margin-bottom: 0;
}

.sidebar-create-campaign a {
    color:#f26522;
    font-family: 'Open Sans', sans-serif;
    margin-left:15px;
    font-size: 12px;
}


/********************** inner post  *********************/
.inner-post {
    background: #e6e6e6;
    padding-top: 45px;
}

.frm-comment input[type="text"],.frm-comment textarea{
    box-shadow: none;
    border-color:#a1a1a1;
}

.frm-comment textarea {height: 150px;}

.frm-comment h4 {
    color: #363636;
    font-size: 22px;
    font-family: 'Merriweather', serif;
    padding-bottom: 20px;
}

.frm-comment .btn-sbm-comment {
    background: #dfdfdf;
    padding:7px 20px;
    text-transform: uppercase;
}
.post-share ul{float:right;margin:0;}
.post-share li {margin-left:0;margin-right:5px;font-size: 12px;}
.post-share li a{
    background: url('../img/ico-sprites.png') no-repeat;
    width: 16px;
    height: 16px;
    color:#898989;
}
.item-post .info-post {
    font-size: 12px;
    color:#898989;
}
.post-share {color:#898989;}
.post-share li {line-height: 20px;}
.post-share li a.ico-fb {background-position: -70px -41px;}
.post-share li a.ico-tw {background-position: -87px -41px;}
.post-share li a.ico-in {background-position: -104px -41px;}
.post-share li a.ico-gplus {background-position: -122px -41px;}
.post-share li a.ico-p {background-position: -139px -41px;}
.post-share li a.ico-r {background-position: -156px -41px;}
.post-share li a.ico-mail {background-position: -174px -41px;}
.tags-bottom-post,.link-category  {font-size: 12px;}
.tags-bottom-post li {margin-left: 0;line-height: 20px;}
.tags-bottom-post li i{font-size: 16px;}
.tags-bottom-post li:first-child {margin-right: 10px;}
.opt-bottom-post {
    padding-top:50px;
}
.block-comment {font-family: 'Open Sans', sans-serif;}
.block-comment h4 {
    font-size: 24px;
    font-family: 'Merriweather', serif;
    color:#4c4b4b;
    padding-bottom: 20px;
}
.block-comment h4 a{
    color: #008fd0;
}
.block-comment ul {list-style: none;margin-left:0;}
.block-comment ul li {
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    float: left;
    padding-top: 25px;
    padding-bottom: 10px;
}

.block-comment ul li:first-child {padding-top:0;}
.block-comment ul li:last-child {border-bottom: none;}
.block-comment ul li a.user-comment{float: left;width: 13%;margin-right: 20px;margin-top:10px;}
.block-comment ul li a.user-comment img {width:100%;}
.block-comment ul li .detail-comment{float: left;width: 80%;}
.block-comment ul li .detail-comment h5 {
    font-size: 12px;
    color:#999999;
}
.block-comment ul li .detail-comment h5 span{
    color:#222;
}

.block-comment ul li .detail-comment p {
    font-size:13px;
    color: #4c4c4c;
}
.block-comment ul li .detail-comment h5 a{
    color:#999999;
    float: right;
}
.block-comment ul li ul li {border-bottom: none;}
.ico-reply {
    background: url('../img/ico-sprites.png') no-repeat -40px -74px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-bottom: -4px;
}
.block-comment ul li ul {
    margin-left: 16%;
}
.wrap-porfolio h4 {font-size: 14px;color: #222;}
.wrap-porfolio h4 a{color: #008fd0;display: block;}
.wrap-porfolio p{color: #898989;font-size: 12px;margin-bottom: 0}
.wrap-porfolio img{margin-right: 15px;margin-top: 10px;}
.wrap-feature-campaign ul{margin-bottom: 0px;}
.wrap-feature-campaign h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}
.wrap-feature-campaign ul {
    list-style: none;
    margin-left: 0;
}
.wrap-feature-campaign ul li{
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 20px;
    padding-top: 20px;
}
.wrap-feature-campaign ul li:first-child {
    padding-top:0;
}
.wrap-feature-campaign ul li:last-child {
    border-bottom: none;
}

.wrap-feature-campaign ul li h4 {
    color: #333;
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 20px;
}
.wrap-feature-campaign ul li span {
    font-size: 14px;
    color: #999;
}
.wrap-feature-campaign ul li p {
    font-size: 14px;
    color: #333;
    margin-bottom: 0;
    margin-top: 10px;
}
.title-events {
    color: #4c4b4b;
    font-family: "Merriweather",serif;
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 45px;
}

.title-events span {font-size:14px;font-family: "Open Sans",sans-serif;}

/*************************** step campaign *****************/
.step-wellcome,.step-hold-on {
    background: #e6e6e6;
    margin-bottom: 49px;
    margin-top: 40px;
}
.step-wellcome h3,.step-hold-on h3 {
    font-size: 30px;
    font-family: "Merriweather",serif;
    font-weight: 100;
    text-align: center;
    color: #484848;
    padding: 50px 75px 20px 75px;
}

.step-wellcome p,.step-hold-on p {
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 0;
    padding-bottom: 45px;}
.step-wellcome ul {
    list-style: none; 
    margin-left: 60px;
    margin-right: 40px;
}
.step-wellcome ul li{font-size: 18px;font-weight: 100;font-family: "Open Sans",sans-serif;}
.step-wellcome ul li span{
    color: #008fd0;
    float: left;
    font-family: "Work Sans",sans-serif;
    font-size: 55px;
    font-weight: 100;
    margin-right: 30px;
    margin-top: -20px;
    width: 5%;
}
.step-wellcome ul li p {
    margin-top: 10px;
    padding-bottom: 20px;
}

.step-wellcome .button,.step-hold-on .button {
    margin-bottom: 40px;
    margin-top: 10px;
    background: #f26522;
    padding:15px 100px;
    font-weight: 600;
}
.step-hold-on form {
    margin-left: 60px;
    margin-right: 40px;
}
.step-hold-on form input[type="text"],.step-hold-on form input[type="password"] {
    border-color: #a1a1a1;
    box-shadow: none;
}

.step-hold-on form .prettycheckbox label {margin: -2px 5px;font-size: 12px;}
.step-hold-on form .has-pretty-child  {font-family: 'Open Sans', sans-serif;font-weight: 400;}
.step-hold-on form .has-pretty-child  .labelright  { float: left;margin-top: 8px;margin-bottom: 20px;}
.step-hold-on form .link  {color:#008fd0;text-decoration: underline;font-size: 12px;}
.step-hold-on form .link:hover  {text-decoration: none;}
.step-hold-on form .button  {text-decoration: none;}
.header-diy-campaign {
    padding-top: 40px;
    padding-bottom: 40px;
}
.header-diy-campaign h2{font-family: 'Merriweather', serif;font-weight: 100;font-size: 30px;color: #4c4b4b;}
.header-diy-campaign p{font-family: 'Open Sans', sans-serif;font-weight: 100;font-size: 18px}
.frm-diy-campaign .row {background: #e6e6e6;margin-bottom: 10px;}
.frm-diy-campaign input[type="text"] {
    border-color: #a1a1a1;
    box-shadow: none;
    vertical-align: middle;
    margin-top: 20px;
}
.frm-diy-campaign select {margin-top: 20px;}

.frm-diy-campaign .row label {font-family: 'Open Sans', sans-serif;font-size:12px;margin-top: 10px;}
.frm-diy-campaign .row label b {font-size:13px;color: #484848;}
.frm-diy-campaign .row .prettyradio label{width: 90%;margin-top: -3px;}
.frm-diy-campaign .row .prettyradio > a{margin: 0 10px 0 0;}
.frm-diy-campaign .row .has-pretty-child {margin-top:15px;margin-bottom: 10px;}
.btn-return,.btn-continue,.btn-prev,.btn-save {padding-top:10px;padding-bottom: 10px;background: #a1a1a1;font-family: 'Open Sans', sans-serif;width: 47%;font-size:16px;font-weight: 600;margin-top:20px}
.frm-diy-campaign .row textarea {box-shadow: none;margin-top:20px;height: 120px;border-color:#a1a1a1;}
.frm-diy-campaign .row .btn-add-video {font-family: 'Open Sans', sans-serif;font-size:13px;font-weight: 600;padding:10px 30px;}
.frm-diy-campaign .row .btn-add-video i {font-size:15px;margin-right:5px;}
.frm-diy-campaign .row .label-frm-diy {
    margin-top: 15px;
}
.frm-diy-campaign .row .inner-input {
    margin-top:10px;
    margin-bottom: 5px;
}
.note-inner-frm {width: 80%;font-family: 'Open Sans', sans-serif;font-size:13px;font-weight: 400;}
.note-inner-frm small {font-size: 12px;}
.inner-frm {padding-top:10px;}
.title-video-preview {margin-top:40px;float:left;}
.btn-return {margin-right: 30px;}
.btn-continue{background: #f26522;float:right;}
.btn-prev,.btn-save {font-size: 14px;}
.btn-prev i,.btn-save i{font-size: 20px;margin-right: 5px;}
.block-help::before {
    right: 100%;
    top: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #e6e6e6;
    border-width: 12px;
}
.block-help {background: #e6e6e6;position: relative;padding:15px;}
.block-help h3 {font-size: 13px;font-weight: 600;font-family: 'Open Sans', sans-serif;}
.block-help h3 i {font-size: 20px;}
.block-help p,.block-help a {font-size: 12px;font-weight: 300;font-family: 'Open Sans', sans-serif;}
.block-help a {color: #008fd0}
.block-help p {margin-bottom: 10px;}
.block-help-01 {top:120px;}
.block-help-02 {top:375px;}
.block-help-03 {top:611px;}
.block-help-04 {top:965px;}
.block-help-05 {top:995px;}
.upload-thumb {
    background: #fff;
    border: 1px dotted #a1a1a1;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 600;
    height: 120px;
    line-height: 30px;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}
.ico-thumb {
    background: url('../img/ico-sprites.png') no-repeat -88px -121px;
    height: 42px;
    width: 48px;
    display: inline-block;
}

.img-preview {margin-top:20px;margin-bottom: 20px;}
.title-img-preview {float: left; margin-top: 10px;}
.row-quantity .has-pretty-child{margin-top:0 !important;}
.row-quantity .has-pretty-child .labelright  {
    margin-top: 10px;
    width: 100%;
}
.row-quantity .has-pretty-child .labelright label {
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 600;
    width: 92%;
    line-height: 20px;
    margin-top:0;
}

.row-quantity .has-pretty-child span {
    color: #484848;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    margin-left: 19px;
    margin-bottom: 10px;
}
.order-column {
    background: #d6d6d6;
    height: 429px;
    position: relative;
    font-family: "Open Sans",sans-serif;
    color:#484848;
    font-size: 14px;
    padding-top:20px;
}
.order-column span {
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-size: 56px;
    color: #008fd0;
    font-weight: 100;
    margin-top: -15px;
}
.order-column a{
    position: absolute;
    bottom: 10px;
    left: 22px;
    font-family: "Open Sans",sans-serif;
    color:#484848;
    font-size: 13px;
    font-weight: 400;
}

.order-column a i {margin-right:5px;}
.step-submit {
    text-align: center;
    background: #e6e6e6;
    padding:90px 40px 40px 40px;
    margin:45px 0;
}

.step-submit h3 {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 100;
    color: #4c4b4b;
}

.step-submit p {
    font-size: 18px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

.step-process {
    background: #e6e6e6;
    z-index: -2;
    padding-top: 75px;
    padding-bottom: 35px;
    position: relative;
}
.step-process ul {
    list-style: none;
    margin-left:0;
}

.step-process ul li {
    color: #666766;
    float: left;
    font-size: 14px;
    position: relative;
    width: 15%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.step-process ul li::before {
    background: #666766;
    border-radius: 50%;
    color: #333;
    content: counter(decimal);
    display: block;
    font-size: 0px;
    line-height: 14px;
    margin: 0 auto 5px;
    width: 14px;
}
.step-process ul li::after {
    background: #666766;
    content: "";
    height: 2px;
    left: -50%;
    position: absolute;
    top: 7px;
    width: 100%;
    z-index: -1;
}

.step-process ul li:first-child::after {content: none;}
.step-process ul li.active::before,
.step-process ul li.active::after {background: #f26522;}
.step-process ul li.active i {
    background: url('../img/ico-sprites.png') no-repeat -151px -119px;
    width: 56px;
    height: 34px;
    display: block;
    position: absolute;
    left:35%;
    top:-45px;
}
.pagination {margin-left: 0;}
.pagination li {height: auto !important;}
.pagination li a{color:#333!important;margin-left: 0;font-size: 12px;font-family: 'Open Sans', sans-serif;font-weight: 600!important;border-radius: 0px !important}
.pagination li.active a {border:1px solid #a1a1a1;background: #fff;}
/*************** responsive **********/
@media only screen and (max-width: 1024px) { 
    .title-events {margin-left: 22px;}
    .block-quote {
        padding: 30px 0;
    }
    .block-quote ul li {
        margin-right: 0;
    }
    .feature-campaign {padding: 40px 0;}
    .feature-campaign h3 {padding-bottom: 15px;}
    .feature-campaign .panel ul li {
        margin-left: 5px;
        margin-right: 5px;
    }
    .block-campaign,.block-events {
        background-size: cover;
    }
    .block-post h3 {padding-bottom: 15px;}
    .block-sign-up {background-size: cover;}
}
@media only screen and (max-width:769px) {
    .top-bar .toggle-topbar a {color:#118dd6; font-size:46px;}
    .top-bar.expanded .title-area {
        background: none;
    }
    .top-bar.expanded .toggle-topbar a {
        color:#118dd6;
        font-size:46px;
    }
    .header .top-bar .name {
        width: auto;
        height: auto;
        display: block;
    }
    .header .top-bar .name h1 {
        background-size: contain;
        width:100%;
        height: 100%;
    }
    .right-bar .row {margin:0 !important;}
    .item-post {margin:0 0 25px 0 !important;}
    .frm-quick-search {margin-top: 30px;}
    .top-band {
        padding-bottom: 10px;
    }
    .campaign-video {
        margin-bottom: 20px;
    }
    .content-campaigninner .list-backer li:last-child {
        margin-bottom: 30px;
    }
    .block-create-campaign .step {
        margin:0;
    }
    .block-create-campaign .step label.font-normal {width: 90%;   margin-right: 0;}
    .block-create-campaign .step .fund {float:left;margin-top:4px;}
    .block-create-campaign .last-row { padding-left: 1.375em;padding-right: 1.375em;margin-top: -15px;}
    .block-create-campaign h2,.block-checkout .note-info {padding-left: 22px;}
    .opt-bottom-post {padding-bottom: 20px;}
    .block-summary {top:0;margin-bottom: 20px !important;}
    .block-summary .opt-purchase {text-align: left;}
    .step-wellcome h3 {padding: 50px 25px 20px;}
    .step-wellcome ul,.step-hold-on form  {margin-left: 40px;}
    .step-wellcome ul li {width: 100%;clear: both;}
    .step-wellcome ul li p { font-size: 14px;}
    .frm-diy-campaign .row {margin:0 0 10px 0;}
    .frm-diy-campaign input[type="text"] {margin-top: 0;}
    .frm-diy-campaign .row label {margin-bottom: 5px;}
    .header-diy-campaign h2,.header-diy-campaign p {padding-left: 22px;padding-right:22px;}
    .block-help {margin-bottom: 10px;}
    .block-help-01,.block-help-02,.block-help-03,.block-help-04,.block-help-05 {top:auto;margin-bottom: 10px;}
    .btn-return, .btn-continue, .btn-prev, .btn-save {width: 42%;font-size: 16px;}
    .btn-return,.btn-prev { margin-left: 22px;}
    .btn-continue,.btn-save { margin-right: 22px;}
    .btn-prev { margin-right: 10px;}
    .btn-save {float:right;}
    .upload-thumb {font-size: 12px;}
    .order-column {height: 150px;}
}
@media only screen and (max-width: 768px) and (min-width:640px) {
    .feature-campaign .row .medium-3,.block-post .row .medium-4,.block-post  .medium-9,.block-post  .medium-3 {width:100%;}
    .feature-campaign img,.block-post img{width: 100%;}
    .footer {height: auto;}
}
@media only screen and (max-width: 640px) {
    .block-campaign,.block-events {height: auto;padding-bottom: 20px;}
    .block-quote h3 {text-align: center;}
    .feature-campaign img,.block-post img{width: 100%;}
    .footer {height: auto;text-align: center;}
    .footer ul {float: none;}
    .footer ul li {display: inline-block;float: none;}
    .bar-top .list-top li a {font-size:14px;}
    .post-share ul {float:none;}
    .link-category {margin-bottom: 17px;margin-left:2px;}
    .step-process ul li{width: 16%;}
    .step-process ul li.active i {left: 20%;}
}
@media only screen and (max-width: 480px) {
    .block-checkout .step .list-avatar li {
        margin-bottom: 20px;
        width: 100%;
    }
}
@media only screen and (max-width:360px) {
     .step-process ul li.active i {left: 0%;}
    .block-comment ul li ul {
        clear: both;
    }
    .block-comment ul li .detail-comment {width:100%}
    .block-comment ul li a.user-comment {width: 25%;}
    .step-wellcome .button, .step-hold-on .button {padding: 15px 60px;}
    .step-wellcome ul, .step-hold-on form {margin-left: 20px;margin-right:20px;}
    .btn-return, .btn-continue, .btn-prev, .btn-save {width: 40%;font-size: 12px;}
    .btn-return, .btn-prev {margin-left: 12px;}
    .frm-diy-campaign .row .prettyradio label {width: 85%;}
    .row-quantity .has-pretty-child .labelright label { width: 89%;}
    .step-process ul li {font-size: 11px; font-weight: 100;}
}
@media only screen and (max-width: 320px) {
    .block-quote ul li {
        margin-right: -2px;
    }
    .recent-post .tabs dd > a, .recent-post .tabs .tab-title > a {
        padding: 5px 15px;
    }
    .recent-post .tabs-content section .list-post li .block{width: 75%;}
    .package ul li p {font-size:45px}
    .package .graph .bottom, .package .graph .top {right: 10px;}
    .package .graph .item-graphic {left: -5px;}
    .package .graph .bar-process {margin-left: 30px;}
    .content-campaigninner .list-backer li {
        padding:15px 0;
    }
    .block-create-campaign .ck-term {
        width: 80%;
        margin-top: -7px;
    }
    .block-create-campaign .check-term {
        float:left;
    }
    .step-hold-on form .has-pretty-child .labelright {margin-bottom: 0;}
    .step-hold-on form .link {font-size:11px;}
    .step-wellcome h3, .step-hold-on h3 { font-size: 27px;}
    .btn-prev i, .btn-save i {display: block;}
}